$pale: #C1A3A3;
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body#home {
    font-size: 16px;
    nav {
        .txtFont {
            font-family: 'Righteous', cursive;
        }
    }
}

.container {
    .read {
        div.card {
            img {
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                margin: 20px auto;
                box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            }
        }
    }
}